*{
  margin: 0%;
  padding: 0;
  background-color: rgb(133, 190, 190);
}

.App {
  height: 100vh;
  text-align: center;
}

textarea{
  align-items: center;
  width: 60%;
  height: 20%;
  margin-bottom: 5%;
}

img[alt=freeCodeCamp_Logo]{width: 300px;}

#preview{
  text-align: center;
  align-items: center;
}